
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600);

// Variables
@import "variables";

// Global
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background: $body-bg;
}
